
@import url('https://fonts.googleapis.com/css?family=Cairo');

body{
  background-color: $body-bg !important;
  font-family: "Cairo", "Merriweather", "Georgia", serif;
}

.navbar{
  box-shadow: 0px -7px 20px 0px;
}


.field{
  text-align: right;
}

input{
  text-align: right;
}

.control{
  text-align: right;
}

.b-checkbox.checkbox input[type=checkbox] + .check {
  margin-left: 10px;
}

.table thead th{
  text-align: right;
}
.table td, .table th{
  text-align: right;
}

.navbar-dropdown a.navbar-item{
  padding-right: 1rem;
}

//Navbar icon to the left (Arabic layout)
.navbar-link{
  padding-right: 1rem;
}
.navbar-link::after{
  position: initial;
  margin-top: 0;
  margin-right: 0.6rem;
}

.table th, .table td{
  text-align: right;
}